<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="allLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/allLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/allLog/allLog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50KB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %-40logger{36} -: %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %-40logger{36} -: %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="allLog"/>
    </root>

</configuration>